body {
    background-color: #d9dcd6;
}







.row {
    border: 1px;
}

.col-md-8.m-3 {background-color:silver}
.col-md-3.mt-3.mb-3.ml-3 {background-color:silver ;}
.col-md-4.m-2 {background-color:silver;}
.col-md-3.m-2 {background-color: silver;}

h1 {
    display: inline-block;
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-family: 'Courier New';
}
h3 {
    font-size: 20px;
}


.img-thumbnail {
    width: 300px;
    height: 300px;
}

.img-fluid {
    width: 400px;
    height: 500px;
}

.container {margin: 0}